.backer{
    background-color: slateblue !important;
    border: 0px black solid;
    height:30px;
    width:150px;
    margin-top:5px ;
    border-radius: 5px;
}
body{
    background-size: contain;
    background-image: url("https://res.cloudinary.com/ambp/image/upload/v1646717718/background/origami_cwerds.jpg");
}
.logo{
    height:200px !important;
    width:325px !important;
}
.hone{
    font-size: 100px;
    border:plum  5px outset;
    height: 235px;
    background-image: url("heading.jpg");
}
img{
    width: 400px;
    height:400px;
}
.double{
    height: 700px;
    width: 375px;
}
div{
    background-color: rgb(10,0,0,0.1);
    padding: 10px   ;
    border-radius: 10px;
    border:dotted 0.2vmin rgb(0,0,0,0.75) ;
}
.ads{
    background-color: rgb(0,0,0,0);
    border:0px;
}